html {
    background: url("https://image.freepik.com/free-vector/abstract-background-with-a-blue-watercolor-texture_1048-2242.jpg") no-repeat center center fixed;
    background-size: cover;
}

.text {
    color: black;
    text-align: justify;
    font-family: Georgia;
    padding: 2px;
}

#genderqueer {
    display: block;
    margin: 10px;
    float: left;
    padding: 1px;
}

#music {
    display: block;
    margin: auto;
}
