html {
    background: url("https://image.freepik.com/free-vector/abstract-background-with-a-blue-watercolor-texture_1048-2242.jpg") no-repeat center center fixed;
    background-size: cover;
}

.links {
    background-color: blue;
    color: white;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: all 0.5s ease;
    border-radius: 6px;
}

a:hover {
    background-color: darkblue;
}

.main {
    margin: auto;
    width: 50%;
    text-align: center;
}



.header {
    color: black;
    font-size: 38px;
    font-weight: bold;
    font-style: normal;
    font-family: impact;
}

.body {
    color: white;
}

.rainbow {
    text-align: center;
    font-family: 'Open Sans';
    animation: rainbow 1.5s infinite;
}


@keyframes rainbow {
    20% {
        color: red;
    }
    40% {
        color: orange;
    }
    60% {
        color: yellow;
    }
    80% {
        color: green;
    }
    100% {
        color: blue;
    }
}


.rainbow2 {
    font-family: 'Open Sans';
    animation: rainbow2 1.5s infinite;
}
@keyframes rainbow2 {
     20% {
        color: red;
    }
    40% {
        color: orange;
    }
    60% {
        color: green;
    }
    80% {
        color: blue;
    }
    100% {
        color: purple;
    }
}