select {
    width: 25%;
}

html {
    background-color: #107896;
}

body {
    font-family: Georgia, serif;
    color: white;
    font-size: large;
}

.description {
    font-size: small;
}

#head {
    font-family: Georgia, serif;
    font-size: xx-large;
}

button {
    background-color: #13104c;
    font-family: Verdana, sans-serif;
    color: whitesmoke;
    border-radius: 4px;
    border: solid 1px #6c009c;
}

button:hover,
button:focus {
    background: #100e33;
    border-radius: 4px;
    border: solid 1px #510075;
    text-decoration: none;
}

button:active {
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    background: #0e0d26;
    border: solid 1px #37004d;
}
