.icon-bar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

.icon-bar a {
    float: left;
    text-align: center;
    width: 20%;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #4CAF50;
}

.links {
    background-color: blue;
    color: white;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active {
    background-color: darkblue;
}

.main {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    color: white;
}

html {
    background: url("http://bgfons.com/uploads/lines/lines_texture1095.jpg") no-repeat center center fixed;
    background-size: cover;
}

.header {
    color: white;
}

.body {
    color: white;
}
